<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__STATIC__/admin/css/font.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/xadmin.css">
	<link rel="stylesheet" href="__STATIC__/admin/lib/layui/css/layui.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script language="javascript">
		function checkContract() 
		{
		var msg = document.getElementById("contractMsg");
		var f = document.contract_info;
		var contractId = f.contract_id.value;
		var url = "{:url('valid')}";
		var postStr = "contract_id="+ contractId;
        var ajax = false;
        if(window.XMLHttpRequest){
            ajax = new XMLHttpRequest();
            if(ajax.overrideMimeType){
                ajax.overrideMimeType("text/xml");
            }
        } else if(window.ActiveXObject){
            try{
            ajax = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e){
                try{
                   ajax = new ActiveXObject("Microsoft.XMLHTTP");
                } catch(e){}
            }

        }
        if (!ajax){ // 异常，创建对象实例失败
                 window.alert("不能创建XMLHttpRequest对象实例.");
                 return false;
        }
        ajax = new XMLHttpRequest();
        //开始初始化XMLHttpRequest对象
        
		ajax.open("POST", url, true);
		ajax.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
		ajax.send(postStr);
		ajax.onreadystatechange = function() { 
            if (ajax.readyState == 4 && ajax.status == 200) { 
            msg.innerHTML = ajax.responseText;
            msg.style.color = "#ff0000";
	       // console.log(ajax.responseText);
           } 
        }	
	}
	</script>
  </head>
  
  <body>
  <form name="contract_info" class="layui-form" enctype="multipart/form-data" method="POST" action="{:url('save')}">
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
        <li class="layui-this">基本信息</li>
	    <li>租金</li>
        <li>物业费</li>
        <li>水电费</li>
        </ul>
    <div class="layui-tab-content" style="height: 800px;">
        <div class="layui-tab-item layui-show">         
	    <div class="x-body">
            <div class="layui-form-item">
                <label for="contract_id" class="layui-form-label">
                <span class="x-red">*</span>合同编号
                </label>
            <div class="layui-input-inline">
                <input type="text" id="contract_id" name="contract_id" required="" lay-verify="contract_id"
                    autocomplete="off" class="layui-input" onblur="checkContract()">
				<span id="contractMsg"></span>
            </div>
			<div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>请输入6位数字或字母组合,且为唯一值
            </div>
            </div>
            <div class="layui-form-item">
                <label for="leaser" class="layui-form-label">
                <span class="x-red">*</span>出租方(甲方)
                </label>
            <div class="layui-input-inline">
                <select id="leaser" name="leaser" class="valid">
                    <option id="">禹洲置业(合肥)东城有限公司</option>
                </select>
            </div>
            </div>
		    <div class="layui-form-item">
                <label for="leasee" class="layui-form-label">
                <span class="x-red">*</span>承租方(乙方)
                </label>
            <div class="layui-input-inline">
                  <input type="text" id="leasee" name="leasee" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
            </div>
            </div>
            <div class="layui-form-item">
                <label for="square" class="layui-form-label">
                <span class="x-red">*</span>签约面积(㎡)
                </label>
            <div class="layui-input-inline">
                <input type="text" id="square" name="square" required="" lay-verify="square"
                  autocomplete="off" class="layui-input">
            </div>
			<div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>请输入2~5位的整数
            </div>
            </div>
            <div class="layui-form-item">
                <label for="retail_format" class="layui-form-label">
                <span class="x-red">*</span>经营类型
                </label>
            <div class="layui-input-inline">
                 <input type="text" id="retail_format" name="retail_format" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
            </div>
            </div>
		    <div class="layui-form-item">
                <label for="brand" class="layui-form-label">
                <span class="x-red">*</span>经营品牌
                </label>
            <div class="layui-input-inline">
                <input type="text" id="brand" name="brand" required="" autocomplete="off" class="layui-input">
            </div>
            </div>
		
		    <div class="layui-form-item">
                <label for="deposit" class="layui-form-label">
                <span class="x-red">*</span>保证金(元)
                </label>
            <div class="layui-input-inline">
                <input type="text" id="deposit" name="deposit" required="" lay-verify="deposit"
                  autocomplete="off" class="layui-input">
            </div>
			<div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>请输入2~7位的整数
            </div>
            </div>
                <div class="layui-form-item">
                <label for="expiry" class="layui-form-label">
                <span class="x-red">*</span>租赁期限(年)
                </label>
            <div class="layui-input-inline">
                <input type="text" id="expiry" name="expiry" required="" lay-verify="expiry"
                  autocomplete="off" class="layui-input">
            </div>
			<div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>请输入2位以内的整数
            </div>
            </div>
		    <div class="layui-form-item">
                <label for="startdate" class="layui-form-label">
                <span class="x-red">*</span>合同开始时间
                </label>
            <div class="layui-input-inline">
                <input type="text" id="startdate" name="startdate" required="" lay-verify="date"
                  autocomplete="off" class="layui-input">
            </div>
            </div>
		    <div class="layui-form-item">
                <label for="enddate" class="layui-form-label">
                <span class="x-red">*</span>合同结束时间
                </label>
            <div class="layui-input-inline">
                <input type="text" id="enddate" name="enddate" required="" lay-verify="date"
                  autocomplete="off" class="layui-input">
            </div>
            </div>
		  
            <div class="layui-form-item layui-form-text">
                <label for="des1" class="layui-form-label">
                  备注
                </label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="des1" name="des1" class="layui-textarea"></textarea>
            </div>
            </div>
        </div>
	    </div>
        <!--租金tab页面-->
	    <div class="layui-tab-item">
        <div class="x-body">
	
            <div class="layui-form-item ">
                <label for="" class="layui-form-label">
                <span class="x-red">*</span>计租方式
                </label>
                <div class="layui-input-inline">
                 <select id="renting_style" name="renting_style">
				     <option name="renting_style" value="按商铺营业额百分比">按商铺营业额百分比</option>
                     <option name="renting_style" value="按商铺租金标准及递增比例">按商铺租金标准及递增比例</option>
					 <option name="renting_style" value="按保底租金与分成租金取其高">按保底租金与分成租金取其高</option>
                  </select>
				</div>
            </div>
			<div class="layui-form-item">
                <label for="" class="layui-form-label">
                    <span class="x-red">*</span>租金详情
                </label>
				<div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>填写数据要求:日期|日期|金额; 如 2018.01.01|2018.01.31|9900.99;
                </div>
            </div>
			<div class="layui-form-item">
				<textarea id="rich_txt1" style="display:none;" name="detail1"></textarea>
			</div>
			
            <hr class="layui-bg-gray">	
			
			<div class="layui-form-item">
                <label for="free" class="layui-form-label">
                    <span class="x-red"></span>免租期月数
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="free" name="free" placeholder="请输入总月数"  autocomplete="off" class="layui-input">
                </div>
            </div>
			<div class="layui-form-item">
                <label for="" class="layui-form-label">
                    <span class="x-red"></span>免租期详情
                </label>
            </div>
			<div class="layui-form-item">
				<textarea id="rich_txt2" style="display:none;" name="detail2"></textarea>
			</div>

			<hr class="layui-bg-gray">
		    <div class="layui-form-item layui-form-text">
                <label for="des2" class="layui-form-label">
                  备注
                </label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="des2" name="des2" class="layui-textarea"></textarea>
            </div>
            </div>
        </div>
	    </div>
		
	    <!--物业费tab页面 -->
        <div class="layui-tab-item">	    
		<div class="x-body">

          <div class="layui-form-item">
              <label for="standard" class="layui-form-label">
                  <span class="x-red">*</span>费用标准:(元/㎡/月)
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="standard" name="standard" required="" lay-verify=""
                  autocomplete="off" class="layui-input">
              </div>
			  <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>范围(0~99.99)
              </div>
          </div>
		  
		  <div class="layui-form-item">
              <label for="month_service" class="layui-form-label">
                  <span class="x-red">*</span>月度费用(元/月)
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="month_service" name="month_service" required="" lay-verify=""
                  autocomplete="off" class="layui-input">
              </div>
			   <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>范围(0~999999.99)
              </div>
          </div>
		  <div class="layui-form-item">
              <label for="service_rate" class="layui-form-label">
                  <span class="x-red"></span>年增长比例
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="service_rate" name="service_rate" autocomplete="off" class="layui-input">
              </div>
			  <div class="layui-form-mid layui-word-aux">
                  <span class="x-red"></span>
              </div>
          </div>
	
          <div class="layui-form-item layui-form-text">
              <label for="des3" class="layui-form-label">
                  备注
              </label>
              <div class="layui-input-block">
                  <textarea placeholder="请输入内容" id="des3" name="des3" class="layui-textarea"></textarea>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="add" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="" id='add' type="submit">
                  提交
              </button>
          </div>
        </div>
	    </div>
        <div class="layui-tab-item">
        暂无信息
	    </div>
    </div>
    </div>
	</form>
    <script>
	  layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#startdate' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
          elem: '#enddate' //指定元素
        });
      });
		
		layui.use('layedit', function(){
         var layedit = layui.layedit;
         var index1 = layedit.build('rich_txt1',{
		    height: 160
		 }); //建立编辑器
      });
	  
	    layui.use('layedit', function(){
         var layedit = layui.layedit;
         layedit.build('rich_txt2',{
		    height: 160
		 }); //建立编辑器
      });
		
		
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
        
          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
			,contract_id: [/^[a-zA-Z0-9]{6}$/,'合同编号必须是6位数字或字母组合']
			,square: [/^[1-9][0-9]{1,4}$/,'套内建筑面积首位数字不能为0，且为2~5位整数']
			,expiry: [/^[1-9][0-9]{0,1}$/,'租赁期限首位数字不能为0，且不超过的2位整数']
			,deposit: [/^[1-9][0-9]{1,6}$/,'保证金首位数字不能为0，且为2~6位整数']
		    ,rental_rate: [/^((\d+\.?\d*)|(\d*\.\d+))\%$/,'格式不对']
          });                
        });
    </script>
  </body>

</html>