<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__STATIC__/admin/css/font.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/xadmin.css">
	<link rel="stylesheet" href="__STATIC__/admin/lib/layui/css/layui.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form" enctype="multipart/form-data" method="POST" action="{:url('update')}">
		  <div class="layui-form-item" style="display:none">
              <label for="id" class="layui-form-label">
                  <span class="x-red">*</span>ID
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="id" name="id" readonly="readonly" required="" lay-verify="required" value="{$data.id}"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="contract_id" class="layui-form-label">
                  <span class="x-red">*</span>合同编号
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="contract_id" name="contract_id" readonly="readonly" required="" lay-verify="contract_id" value="{$data.contract_id}"
                  autocomplete="off" class="layui-input">
              </div>
			  <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>请输入6位数字或字母组合
              </div>
          </div>
          <div class="layui-form-item">
              <label for="type" class="layui-form-label">
                  <span class="x-red">*</span>合同类型
              </label>
              <div class="layui-input-inline">
                  <select id="type" name="type" class="valid" value="{$data.type}">
                    <option id="zxht">租销合同</option>
                  </select>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="name" class="layui-form-label">
                  <span class="x-red">*</span>合同名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="name" name="name" required="" lay-verify="required" value="{$data.name}"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="company_name" class="layui-form-label">
                  <span class="x-red">*</span>商户名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="company_name" name="company_name" required="" lay-verify="required" value="{$data.company_name}"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
		  <div class="layui-form-item">
              <label for="code" class="layui-form-label">
                  <span class="x-red">*</span>商户代码
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="code" name="code" required="" lay-verify="code" value="{$data.code}"
                  autocomplete="off" class="layui-input">
              </div>
			  <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>请输入4位数字
              </div>
          </div>
    
		  <div class="layui-form-item">
              <label for="belonger" class="layui-form-label">
                  <span class="x-red">*</span>所属招商人员
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="belonger" name="belonger" required="" lay-verify="required" value="{$data.belonger}"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
		  <div class="layui-form-item">
              <label for="brand" class="layui-form-label">
                  <span class="x-red">*</span>品牌
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="brand" name="brand" required="" lay-verify="required" value="{$data.brand}"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
		        <div class="layui-form-item">
              <label for="retail_format" class="layui-form-label">
                  <span class="x-red">*</span>业态名称
              </label>
              <div class="layui-input-inline">
                  <select id="retail_format" name="retail_format" class="valid">
					<option name="" {if condition="$data.retail_format=='主次力店'"}selected="selected" value="{$data.retail_format}"{/if}>主次力店</option>
                    <option name="" {if condition="$data.retail_format=='精品配套'"}selected="selected" value="{$data.retail_format}"{/if}>精品配套</option>
					<option name="" {if condition="$data.retail_format=='服装服饰'"}selected="selected" value="{$data.retail_format}"{/if}>服装服饰</option>
					<option name="" {if condition="$data.retail_format=='餐饮美食'"}selected="selected" value="{$data.retail_format}"{/if}>餐饮美食</option>
					<option name="" {if condition="$data.retail_format=='休闲娱乐'"}selected="selected" value="{$data.retail_format}"{/if}>休闲娱乐</option>
                  </select>
              </div>
          </div>
		  <div class="layui-form-item">
              <label for="berth_number" class="layui-form-label">
                  <span class="x-red">*</span>铺位号
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="berth_number" name="berth_number" required="" lay-verify="required" value="{$data.berth_number}"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
		  <div class="layui-form-item">
              <label for="payment_method" class="layui-form-label">
                  <span class="x-red">*</span>结账方式
              </label>
              <div class="layui-input-inline">
                    <select id="payment_method" name="payment_method" class="valid" >
                    <option name="" {if condition="$data.payment_method=='月度结算'"}selected="selected" value="{$data.payment_method}"{/if}>月度结算</option>
                    <option name="" {if condition="$data.payment_method=='季度结算'"}selected="selected" value="{$data.payment_method}"{/if}>季度结算</option>
					<option name="" {if condition="$data.payment_method=='半年结算'"}selected="selected" value="{$data.payment_method}"{/if}>半年结算</option>
					<option name="" {if condition="$data.payment_method=='整年结算'"}selected="selected" value="{$data.payment_method}"{/if}>整年结算</option>
                    </select>
              </div>
          </div>
		  <div class="layui-form-item">
              <label for="startdate" class="layui-form-label">
                  <span class="x-red">*</span>合同开始时间
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="startdate" name="startdate" required="" lay-verify="required" value="{$data.startdate}"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
		  <div class="layui-form-item">
              <label for="enddate" class="layui-form-label">
                  <span class="x-red">*</span>合同结束时间
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="enddate" name="enddate" required="" lay-verify="required" value="{$data.enddate}"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
		  
		  <div class="layui-form-item">
              <label for="upload" class="layui-form-label">
                  <span class="x-red">*</span>合同附件
              </label>
              <div class="layui-input-inline">
                  <input type="file" id="upload" name="upload" required="" autocomplete="off" class="layui-input">
              </div>
			  <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>请上传商户合同（格式：pdf、docx、doc）
              </div>
          </div>
		  
          <div class="layui-form-item layui-form-text">
              <label for="description" class="layui-form-label">
                  描述
              </label>
              <div class="layui-input-block">
                  <textarea placeholder="请输入内容" id="description" name="description" class="layui-textarea" >{$data.description}</textarea>
              </div>
          </div>
         
          <div class="layui-form-item">
              <label for="add" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="" type='submit'>
                  保存
              </button>
          </div>
      </form>
    </div>
	<!--<script>
	  $("input:radio[value={$data.retail_format}]").attr('checked','true');
	</script>-->
    <script>
      layui.use(['form','layer'], function(){
          $ = layui.jquery;
        var form = layui.form
        ,layer = layui.layer;
      
        //自定义验证规则
        form.verify({
          nikename: function(value){
            if(value.length < 2){
              return '昵称至少得2个字符啊';
            }
          }
		  ,contract_id: [/^[a-zA-Z0-9]{6}$/,'必须是6位数字或字母组合']
		  ,code: [/^[0-9]{4}$/,'必须是4位数字']
          ,pass: [/(.+){6,12}$/, '密码必须6到12位']
          ,repass: function(value){
              if($('#L_pass').val()!=$('#L_repass').val()){
                  return '两次密码不一致';
              }
          }
        });
      });
  </script>
  </body>

</html>